/* App.css */

/* General styles */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Styles for mobile screens (max-width: 767px) */
@media only screen and (max-width: 767px) {
  .content-container {
    padding: 15px;
  }

  .tiles-item img {
    max-width: 100%;
  }

  .tile,
  .form-container {
    padding: 15px;
    width: 100%;
  }

  .tile {
    padding-top: 20px;
  }

  .header-content {
    text-align: center;
  }

  .alert {
    padding: 10px;
    align-items: center;
  }

  .header-container {
    background-image: url('/public/images/4.png');
    /* Set your image URL here */
    background-size: cover;
    background-position: center;
    padding-left: 18px;
    padding-top: 80px;
    padding-right: 18px;
    padding-bottom: 190px;
    align-items: center;
  }



  .header-title {
    font-size: 50px;
    /* Adjust text size as needed */
    margin: 0;
    /* Remove default margins if needed */
    color: white;
    line-height: 1;
    font-weight: 600;

  }

  .sub-title {
    color: white;
    font-size: 40px;
    font-weight: 500;

  }

  .header-container p {
    color: white;
    /* Ensure description text color */
  }

  .header-description {
    font-size: 18px;
    font-weight: 500;

    /* Adjust text size */
    color: white;
    /* Set color for description text */
  }
}

/* Styles for desktop screens (min-width: 768px) */
@media only screen and (min-width: 768px) {
  .content-container {
    justify-content: space-between;
  }



  .form-container {
    flex: 1;
    padding: 30px;
    max-width: 500px;
    width: -webkit-fill-available;
  }

  .header-content {
    text-align: center;
  }

  .tiles-container {
    width: 900px;

    flex: 2;
    justify-content: center;
    background-color: rgba(240, 255, 255, 0.443);
  }

  .tiles-item {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
  }

  .tile {
    padding-top: 3px;
  }

  .alert {
    padding: 20px;
  }

  .header-container {
    background-image: url('/public/images/4.png');
    /* Set your image URL here */
    background-size: cover;
    background-position: center;
    padding: 100px;
    /* Adjust padding if needed */
    color: white;
    /* Ensure text is readable */
    text-align: center;
    /* Center align text if needed */
  }

  .header-title {
    font-size: 36px;
    /* Adjust text size as needed */
    margin: 0;
    /* Remove default margins if needed */
    color: white;
  }

  .header-container p {
    color: white;
    /* Ensure description text color */
  }

  .header-description {
    font-size: 16px;
    /* Adjust text size */
    color: white;
    /* Set color for description text */
  }

  .sub-title {
    color: white;
    font-size: 32px;
    font-weight: 500;

  }
}